/* GLOBAL CSS */
* {
	margin:0;
	padding:0;
}
body{
	font-family: 'Ubuntu', sans-serif;
	width:100%;
	height:100%;
	background-color:#476da3;
}
.error {
	color: #FF0000;
}
.success {
	color: forestgreen;
}
.course{
	height: 400px;
}
.instructor{
	height: 530px;
}
.job{
	height: 690px;
}
.application{
	height: 390px;
}
.profile {
	height: 425px;
}
main{
	position:fixed;
	width: 500px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-top: -300px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	background-color:#cecdca;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
main > * {
	height:100%;
	float:left;
	width:30%;
	padding:10%;
}
.intro{
	display: inline-block;
}

.intro p {
	display: inline;
}
.actions{
	display: inline-block;
	text-align:center;
}
input[type=submit] {
	font-family: 'Ubuntu', sans-serif;
	margin-bottom:30px;
    padding:5px 15px; 
    background:#FDE9A4; 
    border:0 none;
    cursor:pointer;  
    width: 160px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=submit]:hover {
    padding:5px 15px; 
    background:#fff; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=submit]:active {
    padding:5px 15px; 
    background:#ddd; 
    border:1 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
select {
	width: 160px;
}
textarea {
	resize:vertical;
}
/* THEME TOGGLE CSS */
.switch {
  position: fixed;
  right:0px;
  width: 40px;
  height: 24px;
  margin-top:10px;
  margin-right:10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6d6d6d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* DARK COLORS */
input[type=submit].dark{
	background:#1565c0;
	color:white;
}
input[type=submit]:hover.dark{
	background:#1976d2;
	
	color:white;
}
input[type=submit]:active.dark{
	background:#2196f3;
	color:white;
}
body.dark {
	background-color:#455A64;
}