* {
	margin:0;
	padding:0;
}
body{
	font-family: 'Ubuntu', sans-serif;
	width:100%;
	height:100%;
	background-color:#476da3;
}
.error {
	color: #FF0000;
}
.success {
	color: forestgreen;
}
.course{
	height: 350px;
}
.instructor{
	height: 350px;
}
.job{
	height: 630px;
}
.profile {
	height: 450px;
}
main{
	position:fixed;
	width: 500px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -300px; /* Negative half of height. */
	margin-left: -250px; /* Negative half of width. */
	background-color:#cecdca;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
main > * {
	height:100%;
	float:left;
	width:30%;
	padding:10%;
}
.intro{
	display: inline-block;
}

.intro p {
	display: inline;
}
.actions{
	display: inline-block;
	text-align:center;
}
input[type=submit] {
	font-family: 'Ubuntu', sans-serif;
	margin-bottom:5px;
    padding:5px 15px; 
    background:#FDE9A4; 
    border:0 none;
    cursor:pointer;  
    width: 160px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type=submit]:hover {
    padding:5px 15px; 
    background:#fff; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
input[type=submit]:active {
    padding:5px 15px; 
    background:#ddd; 
    border:1 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
select {
	width: 150px;
}
textarea {
	resize:vertical;
}