*.aux
*.log
*.out
*.toc
*.swp
backlog.synctex.gz
*.gz
*.metadata
*.settings
*.classpath
*.recommenders
APP/Desktop/TAMAS/bin/.gitignore
APP/Desktop/RemoteSystemsTempFiles/
APP/Desktop/TAMAS/output
APP/Web/.metadata/*
APP/Web/ca.mcgill.ecse321.group10.TAMAS/output/*
